In [21]:
import pandas as pd
import glob
import os

li = []

def getStocks(path):
    all_files = glob.glob(path + "/*.csv")
    
    for filename in all_files:
        df = pd.read_csv(filename, index_col=None, header=0)
        ticker_symbol = os.path.basename(filename).replace('.csv', '')
        df['StockSymbol'] = ticker_symbol
        li.append(df)
    
getStocks(r'C:\Users\Jasmine\stonks\stocks')
getStocks(r'C:\Users\Jasmine\stonks\etfs')
frame = pd.concat(li, axis=0, ignore_index=True)

In [23]:
frame.to_csv('all_stocks.csv', index=False)

In [24]:
frame.head()

,Date,Open,High,Low,Close,Adj Close,Volume,StockSymbol
0,1999-11-18,32.546494,35.765381,28.612303,31.473534,27.068665,62546300.0,A
1,1999-11-19,30.713520,30.758226,28.478184,28.880543,24.838577,15234100.0,A
2,1999-11-22,29.551144,31.473534,28.657009,31.473534,27.068665,6577800.0,A
3,1999-11-23,30.400572,31.205294,28.612303,28.612303,24.607880,5975600.0,A
4,1999-11-24,28.701717,29.998211,28.612303,29.372318,25.261524,4843200.0,A